<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table View Registration</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Nama Depan</th>
                <th>Nama Belakang</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            <% people.forEach((user) => { %>
            <tr>
                <td><%= user.namadepan %></td>
                <td><%= user.namabelakang %></td>
                <td><%= user.email %></td>
                <td><%= user.password %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>