<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table View Registration</title>
</head>
<body>
    <a href="/registration">Tambah User</a>

    <table border="1">
        <thead>
            <tr>
                <th>Nama Depan</th>
                <th>Nama Belakang</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>

        <!-- <tbody>
            <% registerer.forEach((registerer) => { %>
            <tr>
                <td><%= registerer.namadepan %></td>
                <td><%= registerer.namabelakang %></td>
                <td><%= registerer.email %></td>
                <td><%= registerer.password %></td>
            </tr>
            <% }) %>
        </tbody> -->
    </table>
</body>
</html>