<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Registrasi</title>
    <style>
        input[type=text], input[type=email], input[type=password], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }
  
        button {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
  
        button:hover {
        background-color: #45a049;
        }

        div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 50%;
        }
    </style>
</head>
<body>
    <h2>Form Registrasi User</h2>
    <div>
        <form action="/registration" method="post">
            <label for="namadepan">Nama Depan</label>
            <input type="text" name="namadepan" placeholder="Masukkan Nama Depan">
            <label for="namabelakang">Nama Belakang</label>
            <input type="text" name="namabelakang" placeholder="Masukkan Nama Belakang">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Masukkan Email Kamu">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Masukkan Password Kamu">
            <button type="submit">Sign Up</button>
        </form>
    </div>
   
</body>
</html>